<div class="container-fluid">
  <div class="row-fluid">
  	<h3 class="color_gray">Task Details</h3>
    <div class="span8 bordered_dashed">

      	<ul id="task_details">
			<li>
				<div class="span8">
					<div id="task_details_title">
						<h3>This is a special title.</h3>
					</div>
					<div>
						<p>This is the content details. This is the content details. This is the content details.This is the content details
							This is the content details. This is the content details. This is the content details. 
							This is the content details. This is the content details. This is the content details.
						</p>
						<p>This is the content details. This is the content details. This is the content details.This is the content details
							This is the content details. This is the content details. This is the content details. 
							This is the content details. This is the content details. This is the content details.
						</p>
						<p>This is the content details. This is the content details. This is the content details.This is the content details
							This is the content details. This is the content details. This is the content details. 
							This is the content details. This is the content details. This is the content details.
						</p>

						<p>This is the content details. This is the content details. This is the content details.This is the content details
							This is the content details. This is the content details. This is the content details. 
							This is the content details. This is the content details. This is the content details.
						</p>

						<% if @task.avatar?  %>
							<span class="label label-info">Attachment</span>
							<%= link_to @task.avatar_file_name, @task.avatar.url %>
						<% else %>
							<button>Upload Image</button>
						<% end %>
					</div>
					<!-- <input type="checkbox" /> -->
					<!-- <img src="/assets/star.png"> -->			
				</div>
				<div>
					<img class="offset1" src="/assets/rails.png">
				</div>
			</li>
		</ul>
    </div>
    <div class="span2">
      <h3 class="color_gray">Info</h3>
      <ul>
      	<li>Category: </li> 
      	<li>Completed? </li>
      	<li>Is Important?</li>
      </ul>
    </div>
  </div>
</div>