<h1>New user</h1>
<!-- Google Plus -->
<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="437586832432-i05mhukqm80agkqrt7861mdh1gg06b8t.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
