// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$small_height: 50px;
$medium_height: 100px;
$large_height: 200px;

#board{ //board main area
	background-color:white; 
	height:700px; 
	width:900px;
	.span4{
		background-color:green; //box background
	}
}

#dashboard{
	margin-left: 50px;
}

textarea {
	max-height: 150px;
}