// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$small_height: 300px;
$medium_height: 500px;
$large_height: 600px;
$total: 1200px;


#dashboard{
	margin-left: 50px;
}

textarea {
	max-height: 150px;
}


#board3{
	background-color: white;
	li {
		list-style-type: none;
	}
	.span4{
		//background-color:LightSkyBlue; //box background
		border-radius: 5px;
		
		li div{
			border: 5px solid gray;
		}

		img{
			border:5px solid silver;
			max-width: 290px;

		}

		.thumbnail{
			width: 280px;
			img{
				max-width: 270px;
			}
		}

		margin: 10px;
		background-color: white;
		//border: 5px solid gray;
		//padding:2px;
	}

}