<!-- <h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p> -->
<div class="container-fluid" id="dashboard">
  <div class="row-fluid">
  	<div class="row">
  		<h3 class="color_gray">Select a Category</h3>
  		<select>
  			<option>Category 1</option>
  			<option>Category 2</option>
  		</select>
  	</div>
  	<div class="row">
  		<div class="span12" id="board">
  			<div class="span4">
  				<div style="height:50px;border:1px solid black; margin-bottom:10px;" class="small_box">Test</div>
  				<div style="height:100px;border:1px solid black; margin-bottom:10px;" class="medium_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:150px;border:1px solid black;" class="small_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:200px;border:1px solid black;" class="medium_box">Test2</div>
  			</div>
  			<div class="span4">
  				<div style="height:50px;border:1px solid black; margin-bottom:10px;" class="small_box">Test</div>
  				<div style="height:100px;border:1px solid black; margin-bottom:10px;" class="medium_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:150px;border:1px solid black;" class="small_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:200px;border:1px solid black;" class="medium_box">Test2</div>
  			</div>
  			<div class="span4">
  				<div style="height:50px;border:1px solid black; margin-bottom:10px;" class="small_box">Test</div>
  				<div style="height:100px;border:1px solid black; margin-bottom:10px;" class="medium_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:150px;border:1px solid black;" class="small_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:200px;border:1px solid black;" class="medium_box">Test2</div>
  			</div>
	  	</div>
  	</div>
  	
  	<div class="row">
  		<div class="span12" style="background-color:white; height:700px; width:900px;">
  			<div class="span4" style="background-color:green;">
  				<div style="height:50px;border:1px solid black; margin-bottom:10px;" class="small_box">Test</div>
  				<div style="height:100px;border:1px solid black; margin-bottom:10px;" class="medium_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:150px;border:1px solid black;" class="small_box">Test2</div>
  				<div style="height:50px;border:1px solid black;" class="large_box">Test</div>
  				<div style="height:200px;border:1px solid black;" class="medium_box">Test2</div>
  			</div>
  			<div class="span4" style="background-color:green;">
  				<div style="height:50px;border:1px solid black; margin-bottom:10px;">Test</div>
  				<div style="height:100px;border:1px solid black; margin-bottom:10px;">Test2</div>
  				<div style="height:50px;border:1px solid black;">Test</div>
  				<div style="height:150px;border:1px solid black;">Test2</div>
  				<div style="height:50px;border:1px solid black;">Test</div>
  				<div style="height:200px;border:1px solid black;">Test2</div>
  			</div>
  			<div class="span4" style="background-color:green;">
  				<!-- <div style="height:50px;border:1px solid black; margin-bottom:10px;">Test</div>
  				<div style="height:100px;border:1px solid black; margin-bottom:10px;">Test2</div>
  				<div style="height:50px;border:1px solid black;">Test</div>
  				<div style="height:150px;border:1px solid black;">Test2</div>
  				<div style="height:50px;border:1px solid black;">Test</div>
  				<div style="height:200px;border:1px solid black;">Test2</div> -->
          <li class="span12">
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
          </li>

  			</div>
	  	</div>
  	</div>
  </div>
</div>

<!-- <div>
<ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <img src="http://placekitten.com/300/200" alt="cat"/>
          <h3>Thumbklajdfklajsdf</h3>
          <p class="p_color">aksdjfklajdfkldjfklfjd</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="http://placekitten.com/300/200" alt="cat"/>
          <h3>Thumbklajdfklajsdf</h3>
          <p class="p_color">aksdjfklajdfkldjfklfjd</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="http://placekitten.com/300/200" alt="cat"/>
          <h3>Thumbklajdfklajsdf</h3>
          <p class="p_color">aksdjfklajdfkldjfklfjd</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="web.png" alt="web"/>
          <h3>Thumbklajdfklajsdf</h3>
          <p class="p_color">aksdjfklajdfkldjfklfjd</p>
        </div>
      </li>
    </ul>
</div> -->