<!-- <h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p> -->
<div class="container-fluid" id="dashboard">
  <div class="row-fluid">
  	<div class="row">
  		<h3 class="color_gray">Select a Category</h3>
  		<select>
  			<!-- <option>Category 1</option>
  			<option>Category 2</option> -->
        <% @categories.each do |category| %>
          <option><%= category.name %></option>>
        <% end %>
  		</select>
  	</div>
    <div>
      <ul>
        <% @tasks.each do |task| %>
        <li><%= task.title %></li>
        <% end %>
      </ul>
    </div>
  	<div class="row">
  		<div class="span12" id="board">
  			<div class="span4">
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            
  				
  			</div>
  			<div class="span4">
          <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
  				
  			</div>
  			<div class="span4">
          <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
            <div class="thumbnail">
              <img src="http://placekitten.com/300/200" alt="cat"/>
              <h3>Thumbklajdfklajsdf</h3>
              <p class="p_color">aksdjfklajdfkldjfklfjd</p>
            </div>
  				
  			</div>
	  	</div>
  	</div>
 